html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.login-form .ivu-input-icon-normal+.ivu-input  {
    padding-left: 32px;
}

.login-form .ivu-input-icon {
    left: 0;
}

.ivu-layout-header {
    padding: 0 10px 0 0px!important;
    background-color: #34302d!important;
}
