body {
    background-color: #F0F0F0
}
.wrapper {
    height: 100%;
    width: 100%;
}

.breadcrumb {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
}

.searchbar {
    padding: 5px 15px;
}

.list {
    padding: 5px 15px;
    background-color: #ffffff;
    min-height: 300px;
}

.toolbar {
    padding: 0px 15px;
    display:flex;
    justify-content: flex-end;
}

.operations {
    width: 52px;
    padding: 2px 3px;
    border: none;
}

.ivu-modal-footer button {
    width: 60px;
    padding: 5px 5px;
}
