.login-body {
    height: 100%;
    width: 100%;
    background: url('../images/login/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wapper {
    background-color: rgba(51, 51, 51, .3);
    width: 380px;
    height: 350px;
    margin-top: -80px;
    border-radius: 10px;
}

.login-title {
    font-family: Papyrus, Verdana, "Lucida Grande", Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 35px auto 25px auto;
    letter-spacing: 1px;
}

.login-form {
    padding: 0 35px;
}

.login-captcha-image {
    height: 36px;
    float: right;
    border-radius: 5px;
    border: 1px solid #dddee1;
}
