.modal-header {
  padding: 10px 20px;
}

.btn-sm {
  padding: .25rem 2rem;
}

.form-control {
  border-radius: .3rem;
}

.description {
  padding-left: 10px;
  padding-right: 10px;
}

.description textarea {
  resize: none;
}

.modal-body:first-child {
  padding-right: 80px;
  padding-bottom: 5px;
}

.form-horizontal .control-label {
  padding-top: 4px;
  text-align: right;
}

.error-label {
  width: 100%;
  text-align: left !important;
  color: #ed1c24;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #FFFFFF;
}

.control-value {
  font-size: .875rem;
  padding-top: 4px;
  color: #464a4c;
  margin-bottom: 0;
}

.btn-toolbar {
  position: absolute;
  top: 60px;
  right: 20px;
  justify-content: flex-end;
  z-index: 999;
}

.btn-toolbar button {
  padding: 3px 6px 3px 6px;
  cursor: pointer;
}

.btn-toolbar button i {
  font-size: 20px;
  cursor: pointer;
}

.modal-body:nth-child(2) {
  height: 280px;
  padding-top: 0;
  padding-bottom: 0;
}

ngb-tabset {
  width: 100%;
}

ngb-tabset > ul > li > a {
  padding: 0 !important;
}

.tab-actions {
  position: absolute;
  top: 40px;
  right: 10px;
}

.tab-actions button {
  padding: 1px 5px;
}


.permission-tree-container {
  padding-top: 5px;
  height: 240px;
  overflow-y: auto;
}

.user-list {
  margin-top: 35px;
}

.user-list td:nth-child(1),
.user-list th:nth-child(1){
  width: 5%;
  text-align: center;
}

.user-list td:nth-child(2),
.user-list th:nth-child(2){
  width: 20%;
}

.user-list td:nth-child(3),
.user-list th:nth-child(3){
  width: 20%;
}

.user-list td:nth-child(4),
.user-list th:nth-child(4){
  width: 35%;
}

.user-list td:nth-child(5),
.user-list th:nth-child(5){
  width: 20%;
}

