<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inmaytide.orbit.domain.sys.Role">
    <select id="findCodesByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct(r.code) code from sys_role r
        left join sys_user_role ur on ur.r_id = r.id
        left join sys_user u on u.id = ur.u_id
        where u.username = #{username}
    </select>
</mapper>