.success {
  color: #28a745;
  font-size: 36px;
}

.danger {
  color: #dc3545;
  font-size: 36px;
}

.warning {
  font-size: 36px;
  color: #ffc107;
}

.modal-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.alter-message {
  align-self: center;
  padding-left: 13px;
  font-size: 14px;
}

.modal-footer {
  padding: 8px 15px;
}

.modal-footer .btn {
  min-width: 60px;
  margin-bottom: 0;
  padding: 3px;
  font-size: 12px;
}

