html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif!important;
}

.login-form .ivu-input-icon-normal + .ivu-input {
  padding-left: 32px;
}

.login-form .ivu-input-icon {
  left: 0;
}

.ivu-layout-header {
  padding: 0 10px 0 0 !important;
  background-color: #34302d !important;
}

.ivu-layout-sider {
  background-color: white;
}

.container-center {
  background-color: #f8f8f9;
  min-width: 1150px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif!important;
}

.blue-left-border {
  border-left: 3px solid #2db7f5;
  font-size: 14px;
  font-weight: bold;
}

.ivu-input-wrapper > textarea {
  resize: none !important;
}

.form-field-value {
  font-weight: bold;
  color: #464c5b;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 93%;
  overflow: hidden;
}
