<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inmaytide.orbit.domain.sys.Permission">
    <select id="findCodesByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct(p.code) code from sys_permission p
        left join sys_role_permission rp on rp.p_id = p.id
        left join sys_role r on rp.r_id = r.id
        left join sys_user_role ur on ur.r_id = r.id
        left join sys_user u on u.id = ur.u_id
        where u.username = #{username}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.inmaytide.orbit.domain.sys.Permission">
        select * from sys_permission p
        left join sys_role_permission rp on rp.p_id = p.id
        left join sys_role r on rp.r_id = r.id
        left join sys_user_role ur on ur.r_id = r.id
        left join sys_user u on u.id = ur.u_id
        where u.username = #{username} and p.category = #{category}
        order by sort
    </select>

    <select id="getSort" resultType="java.lang.Integer">
        select ifnull(max(sort), 0) + 1 sort from sys_permission
    </select>

    <select id="findByRole" resultType="com.inmaytide.orbit.domain.sys.Permission">
        select * from sys_permission p
        where id in (select p_id from sys_role_permission where r_id = #{roleId})
    </select>
</mapper>