<form nz-form [formGroup]="form">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4" style="line-height: 30px;">
      <label>{{'permission.column.parent' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="10" [nzValidateStatus]="getFormControl('parent')">
      <nz-cascader
        formControlName="parent"
        nzChangeOnSelect="true"
        nzValueProperty="id"
        nzLabelProperty="name"
        [nzOptions]="parentOptions"
        [(ngModel)]="parent">
      </nz-cascader>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label for="code" nz-form-item-required>{{'permission.column.code' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="10" [nzValidateStatus]="getFormControl('code')">
      <input nz-input formControlName="code" maxlength="32" id="code" [(ngModel)]="inst.code"/>
    </div>
    <div nz-form-explain nz-col [nzSpan]="10" class="inline-error-text" *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">
      {{'permission.validator.code.not.empty' | translate}}
    </div>
    <div nz-form-explain nz-col [nzSpan]="10" class="inline-error-text"
         *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('repeat')">
      {{'permission.validator.code.not.repeat' | translate}}
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label for="name" nz-form-item-required>{{'permission.column.name' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="10" [nzValidateStatus]="getFormControl('name')">
      <input nz-input formControlName="name" maxlength="32" id="name" [(ngModel)]="inst.name"/>
    </div>
    <div nz-form-explain nz-col [nzSpan]="10" class="inline-error-text"
         *ngIf="getFormControl('name').dirty&&getFormControl('name').hasError('required')">
      {{'permission.validator.name.not.empty' | translate}}
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>{{'permission.column.category' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="getFormControl('category')">
      <nz-select formControlName="category" [(ngModel)]="inst.category">
        <nz-option
          *ngFor="let option of categories"
          [nzLabel]="option.text"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-form-explain nz-col [nzSpan]="12" class="inline-error-text"
         *ngIf="getFormControl('category').dirty&&getFormControl('category').hasError('required')">
      {{'permission.validator.category.not.empty' | translate}}
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label nz-form-item-required>{{'permission.column.method' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="getFormControl('category')">
      <nz-select formControlName="method" [(ngModel)]="inst.method">
        <nz-option
          *ngFor="let option of methods"
          [nzLabel]="option.text"
          [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </div>
    <div nz-form-explain nz-col [nzSpan]="12" class="inline-error-text"
         *ngIf="getFormControl('method').dirty&&getFormControl('method').hasError('required')">
      {{'permission.validator.method.not.empty' | translate}}
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>{{'permission.column.icon' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8" [nzValidateStatus]="getFormControl('icon')">
        <nz-select formControlName="icon" [(ngModel)]="inst.icon">
            <nz-option
              *ngFor="let option of icons"
              [nzLabel]="option.text"
              [nzValue]="option.id">
            </nz-option>
          </nz-select>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label for="action">{{'permission.column.action' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="getFormControl('action')">
      <input nz-input formControlName="action" id="action" [(ngModel)]="inst.action"/>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label for="description">{{'permission.column.description' | translate}}</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="16" [nzValidateStatus]="getFormControl('description')">
      <nz-input nzType="textarea" nzRows="4" formControlName="description" id="description" [(ngModel)]="inst.description"></nz-input>
    </div>
  </div>
</form>
<div class="customize-footer">
  <button nz-button nzType="primary" (click)="save()" [nzLoading]="isSaving" >{{'permission.modal.actions.save' | translate}}</button>
  <button nz-button (click)="cancel()">{{'permission.modal.actions.cancel' | translate}}</button>
</div>
