<div *ngFor="let inst of permissions">
  <ul (click)="selectPermission(inst, $event)" class="table-content" [ngClass]="{'active': inst.state == 'active'}"
      [ngStyle]="parent == null || parent.spread ? {display: 'block'} : {display: 'none'}">
    <li style="text-align: center">
      <input type="checkbox" name="cbo" value="{{inst.id}}" checked="{{inst.state == 'active' ? 'checked' : ''}}"/>
    </li>
    <li class="{{levelClass}}" [ngStyle]="{paddingLeft: (30 + level * 25) + 'px'}"
        [ngClass]="{'disabled': inst.children.length == 0, 'expanded': inst.children.length > 0 && inst.spread == true, 'collapsed': inst.children.length > 0 && inst.spread == false}"
        (click)="change(inst, $event)">
      <a (click)="edit(inst, $event)" href="javascript:void(0);" class="btn-edit">{{inst.name}}</a>
    </li>
    <li>{{inst.code}}</li>
    <li>{{category[inst.category]}}</li>
  </ul>
  <permission-child-view *ngIf="inst.children.length > 0" [level]="level + 1" [parent]="inst"
                         [permissions]="inst.children"></permission-child-view>
</div>
