<div class="login">
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form class="form-horizontal" novalidate #form="ngForm" (ngSubmit)="login(form)">
          <h1>{{'login.title' | translate}}</h1>
          <p *ngIf="hasMessage">
            <ngb-alert type="{{ngbAlert.type}}" [dismissible]="false">
              {{ngbAlert.message}}
            </ngb-alert>
          </p>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
              <input [(ngModel)]="this.user.username" name="username" type="text" maxlength="16"
                     class="form-control" placeholder="{{'login.placeholder.username' | translate}}" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input [(ngModel)]="this.user.password" name="password" type="password" maxlength="16"
                     class="form-control" placeholder="{{'login.placeholder.password' | translate}}" required/>
            </div>
          </div>
          <div class="form-group" *ngIf="failCount >= 3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
              <input [(ngModel)]="this.user.captcha" maxlength="6"
                     placeholder="Enter the words in the image" name="captcha" type="text" class="form-control"
                     required/>
              <span class="input-group-addon">
                <img style="height: 20px; width: 80px;" (click)="refreshCaptcha()" src="{{captchaSrc}}"/>
              </span>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">{{'login.btn.text' | translate}}</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="#signup" class="to_register"> Create Account </a>
            </p>

            <div class="clearfix"></div>
            <br/>

            <div>
              <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
              <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
