.checkbox-column,
.serial-number-column {
  width: 40px;
  text-align: center;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #ddd;
  padding: 6px 8px;
}


.no-data-row {
  text-align: center;
}
