.table-header {
  clear: both;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.table-header li {
  float: left;
  display: block;
  height: auto;
  padding: 10px 10px;
  margin: 0;
  border-top: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  font-weight: bold;
}

.table-header li:nth-child(1) {
  width: 5%;
}

.table-header li:nth-child(2) {
  width: 45%;
}

.table-header li:nth-child(3) {
  width: 25%;
}

.table-header li:nth-child(4) {
  width: 25%;
  border-right: 1px solid #f3f3f3;
}

.btn-toolbar {
  padding: 5px;
  justify-content: flex-end;
}

.btn > i {
  margin-right: 3px;
}

h2 {
  font-size: 20px;
}

