.modal-header {
  padding: 10px 20px;
}

.btn-sm {
  padding: .25rem 2rem;
}

.form-control {
  border-radius: .3rem;
}

.form-horizontal .control-label {
  padding-top: 4px;
  text-align: right;
}

.error-label {
  text-align: left !important;
  color: #ed1c24;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #FFFFFF;
}

.control-value {
  font-size: .875rem;
  padding-top: 4px;
  color: #464a4c;
  margin-bottom: 0;
}

.btn-toolbar {
  position: absolute;
  top: 60px;
  right: 20px;
  justify-content: flex-end;
  z-index: 999;
}

.btn-toolbar button {
  padding: 3px 6px 3px 6px;
  cursor: pointer;
}

.btn-toolbar button i {
  font-size: 20px;
  cursor: pointer;
}

