m-tree{
  padding-left: 0px;
}

.tree-view {
  list-style: none;
  padding-left: 15px;
  font-size: 14px;
}

.fa {
  width: 14px;
}

.form-check-label {
  padding-left: 0;
}

.form-check-input {
  margin-left: 3px;
  margin-right: 3px;
}


.form-check {
  margin-bottom: 0!important;
}
