.top {
  height: 100%;
  width: 100%;
  display: inline-flex;
}

.site-title {
  padding-left: 8px;
  font-size: 26px;
  color: #EAEAEA;
  justify-content: flex-start;
  width: 50%;
}

.site-title i {
  padding: 6px 7px;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
}

.site-title span {
  padding-left: 10px;
  color: #EAEAEA;
  font-family: "Bradley Hand", Helvetica, Arial, sans-serif;
}

.avatar {
  height: 50px;
  padding-top: 12px;
  padding-right: 10px;
}

.username {
  font-size: 14px;
  color: whitesmoke;
}

.user-profile {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 10px;
  width: 50%;
}


