<div nz-row style="margin-top: 15px; margin-bottom: 15px;" [ngStyle]="{'display': collapsed ? 'none': 'block'}">
  <div nz-col [nzSpan]="22" [nzOffset]="1">
    <nz-input nzType="search" nzPlaceHolder="search the menus" style="width: 100%"></nz-input>
  </div>
</div>
<ul nz-menu [nzMode]="collapsed ? 'vertical' : 'inline'" nzTheme="dark">
  <div *ngFor="let menu of menus">
    <li nz-menu-item *ngIf="!menu.children || menu.children.length == 0" (click)="changeContent(menu, $event)">
      <i *ngIf="menu.icon" class="fa fa-{{menu.icon | dictionary: 'common.icon'}}"></i>
      <span class="nav-text">{{menu.name}}</span>
    </li>
    <li nz-submenu *ngIf="menu.children && menu.children.length > 0">
      <span title>
          <i *ngIf="menu.icon" class="fa fa-{{menu.icon | dictionary: 'common.icon'}}"></i>
          <span class="nav-text">{{menu.name}}</span>
      </span>
      <ul>
        <li nz-menu-item *ngFor="let child of menu.children" (click)="changeContent(child, $event)">
          <i *ngIf="child.icon" class="fa fa-{{menu.icon | dictionary: 'common.icon'}}"></i> {{child.title}}
          <span>{{child.name}}</span>
        </li>
      </ul>
    </li>
  </div>
</ul>
