<div class="inside">
    <div class="logo" [ngClass]="{collapsed: service.isCollapsed}">
        <img src="./assets/galaxy.svg">
        <div>rbit</div>
    </div>
    <div>
        <button style="background-color: #36cfc9; box-shadow:none;" nz-button nzType="primary"
                (click)="service.toggleCollapsed()">
            <i nz-icon [nzType]="service.isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </button>
    </div>
    <div>
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/', 'components', 'menu', 'en']">首页</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/', 'components', 'menu', 'zh']">待办列表</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/', 'components', 'menu', 'zh']">我的关注</a>
            </li>
        </ul>
    </div>
</div>
