<div class="login-container">
    <div class="login-title">
        <img class="logo" src="./assets/galaxy.svg">
        <span>rbit</span>
    </div>
    <div class="login-form">
      <form (ngSubmit)="login()" [formGroup]="loginForm" nz-form>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixUser">
              <input [(ngModel)]="token.username" formControlName="username" nz-input nzSize="small"
                     placeholder="Username" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
              <input [(ngModel)]="token.password" [nzSize]="large" formControlName="password" nz-input
                     placeholder="Password" type="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label formControlName="remember" nz-checkbox>
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot">Forgot password</a>
            <button [nzType]="'primary'" class="login-form-button" nz-button nzBlock>Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
