<div class="login-container">
    <div class="login-title">
        <img class="logo" src="./assets/galaxy.svg">
        <span>rbit</span>
    </div>
    <div class="login-form">
        <form nz-form (ngSubmit)="login()" [formGroup]="loginForm">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group  nzSize="large" nzPrefixIcon="user">
                        <input [(ngModel)]="token.username" maxlength="32" formControlName="username" nz-input nzSize="large"
                            placeholder="{{'login.form.username' | translate}}" type="text" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group  nzSize="large" nzPrefixIcon="lock">
                        <input [(ngModel)]="token.password"  maxlength="32" nzSize="large" formControlName="password" nz-input
                            placeholder="{{'login.form.password' | translate}}" type="password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="neededCaptcha">
                <nz-form-control>
                    <nz-input-group nzSize="large" nzPrefixIcon="picture">
                        <input placeholder="{{'login.form.captcha' | translate}}" style="width: 60%;"  maxlength="8" [(ngModel)]="token.captcha" formControlName="captcha" nz-input />
                        <img [src]="captcha.image" class="captcha" (click)="refreshCaptcha()" title="{{'login.captcha.title' | translate}}"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <label formControlName="remember" nz-checkbox>
                        <span>Remember me</span>
                    </label>
                    <a class="login-form-forgot">Forgot password</a>
                    <button [nzLoading]="loginButtonLoading" nzSize="large" [nzType]="'primary'" [disabled]='!loginForm.valid' class="login-form-button" nz-button
                        nzBlock>{{'login.form.button' | translate}}</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
