.site-title i {
  font-size: 32px;
  margin-top: 5px;
  padding: 7px 8px;
  color: #EAEAEA;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
  margin-left: -40px;
}

.site-title span {
  padding-left: 15px;
  font-size: 26px;
  color: #EAEAEA;
  font-family: "Bradley Hand", Helvetica, Arial, sans-serif;
}
