<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="{{images}}img.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{user?.name}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section active">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li (click)="changeActive(menu)" *ngFor="let menu of menus" [ngClass]="{'active': menu.id == p_active}">
            <a><i class="fa fa-{{menu.icon}}"></i> {{menu.name}} <span class="fa fa-chevron-down"
                                                                       *ngIf="menu.children.length > 0"></span></a>
            <ul [@tiggerMenu]="menu.state" *ngIf="menu.children.length > 0" class="nav child_menu"
                (@tiggerMenu.start)="triggerMenuStart($event, menu)" (@tiggerMenu.done)="triggerMenuDone($event, menu)">
              <li *ngFor="let _menu of menu.children">
                <a (click)="changeContent(_menu, $event)" href="javascript:void(0);">{{_menu.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
        <i class="fa fa-cog"></i>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
        <i class="fa fa-arrows-alt"></i>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
        <i class="fa fa-eye-slash"></i>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="" href="login.html" data-original-title="Logout">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
