html, body {
  background-color: #F7F7F7;
  font-family: 微软雅黑, serif;
}

main {
  height: 100%;
}

.ant-layout-sider-collapsed .nav-text {
  display:none;
}

.ant-layout-content {
  background-color: white;
}

.ant-modal-header {
  padding: 8px 14px!important;
}

.ant-modal-close-x {
  height: 38px!important;
  width: 38px!important;
  line-height: 38px!important;
}

.ant-form-item-required:before {
  content: ''!important;
  background-image: url('/assets/images/must.png');
  height: 8px;
  width: 8px;
}

.bar-position {
  padding: 7px 10px;
  background-color: rgb(246, 246, 246);
}

.bar-position i {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 15px;
}

.table-container {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

