<div class="right_col" role="main" auto-height>
  <div style="clear: both;"></div>
  <div class="row">
    <div class="col-12">
      <div class="x_panel">
        <div class="form-group row">
          <label class="control-label col-sm-1">
            快速搜索
          </label>
          <div class="col-sm-5">
            <div class="input-group">
              <input [(ngModel)]="conditions.keywords" name="keywords" (keyup)="search($event)" class="form-control form-control-sm" placeholder="{{'log.keywords.placeholder' | translate}}"/>
              <div class="input-group-addon" (click)="search($event)"><i class="fa fa-search"></i></div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-1">
            操作时间
          </label>
          <div class="col-sm-2">
            <div class="input-group">
              <input readonly [(ngModel)]="conditions.begin" name="begin" (ngModelChange)="search($event)"  placeholder="yyyy-mm-dd" class="form-control form-control-sm" ngbDatepicker #begin="ngbDatepicker"/>
              <div class="input-group-addon" (click)="begin.toggle()"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <label class="control-label label-to">至</label>
          <div class="col-sm-2">
            <div class="input-group">
              <input readonly  [(ngModel)]="conditions.end" name="end" (ngModelChange)="search($event)" placeholder="yyyy-mm-dd" class="form-control form-control-sm" ngbDatepicker #end="ngbDatepicker"/>
              <div class="input-group-addon" (click)="end.toggle()"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <div class="col-sm-2">
            <button (click)="resetConditions()" class="btn btn-sm btn-success btn-reset"><i class="fa fa-eraser"></i>清空</button>
          </div>
        </div>
      </div>
      <div class="x_panel">
        <div class="x_title">
          <h2>日志管理</h2>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm">
              <button (click)="loadDataAsExcel()" type="button" class="btn btn-sm btn-success"><i class="fa fa-file-excel-o"></i>导出</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-12">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>日志名称</th>
                  <th>是否成功</th>
                  <th>操作人</th>
                  <th>IP</th>
                  <th>操作时间</th>
                  <th>日志信息</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inst of page.content; let i = index">
                  <td>{{i + 1}}</td>
                  <td title="{{inst.name}}">{{inst.name}}</td>
                  <td title="{{inst.isSucceed}}">{{inst.isSucceed}}</td>
                  <td title="{{inst.operatorName}}">{{inst.operatorName}}</td>
                  <td title="{{inst.ipAddress}}">{{inst.ipAddress}}</td>
                  <td title="{{inst.time | localDateTime}}">{{inst.time | localDateTime}}</td>
                  <td title="{{inst.message}}">{{inst.message}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <m-pagination [page]="page" (pageChange)="pageChange($event)"></m-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
